/* 
=============================================================
======================      TOP      ========================
=============================================================
*/

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

i {
    margin: 1rem 10px;
}

.mainQuiz {
    gap: 2rem;
    height: 100%;
}

.bodyQuiz {
    height: 100vh;
}

/* 
===============================================================
=====================      QUESTION      ======================
===============================================================
*/

.questionContainer {
    height: 30%;
}

#questionTitle {
    margin: 2rem;
    font-size: 1.5rem;
}

#question {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2rem 0;
}


/* 
==============================================================
=====================      CHOICES      ======================
==============================================================
*/

.choicesContainer {
    gap: 2rem;
    margin-bottom: 1rem;
}

.choices {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100vw;
}

.choice {
    margin: auto;
    align-items: center;
    width: 60%;
    border: solid 2px;
    border-radius: 2px;
    box-shadow: 0px 3px 10px 2px rgb(0, 0, 0);
    cursor: pointer;
    background-color: var(--clr-secondary);
}

.choice p {
    padding: 0.9rem 1.1rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.choices:hover p {
    transform: scale(1.8);
    transition: all ease-in-out .5s;
}

.choice:hover {
    background-color: var(--clr-hoverPrimary);
    box-shadow: 0px 5px 10px 2px var(--clr-hoverSecondary);
    transition: all ease-in-out .4s;
}

.choices:first-child .choice{
    border-radius: 20px 20px 2px 2px;
}

.choices:last-child .choice {
    border-radius: 2px 2px 20px 20px;
}


/* 
====================================================================
=====================      MEDIA QUERIES      ======================
====================================================================
*/

@media screen and (max-width:768px) {
    .choice {
        width: 80%;
    }
}

@media screen and (max-width:300px) {
    .mainQuiz {
        gap: 1rem;
    }
    
    #questionTitle {
        margin: 0 1rem 1rem;
    }
    
    #question {
        margin: 0;
    }

    .choice {
        width: 95%;
    }

    .choicesContainer {
        gap: .5rem;
    }
}