/* 
===============================================================
======================      HEADER      =======================
===============================================================
*/

.header {
    width: 100%;
    height: 10%;
    font-size: 1.6rem;
    margin: 0;
}

.navbar {
    justify-content: space-between;
}

i {
    margin: 1.6rem 1rem;
}


/* 
===============================================================
=====================      QUESTION      ======================
===============================================================
*/

.main {
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.containerQuiz {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
}

.containerQuestion {
    height: 30%;
    width: 100vw;
}

#js-questionNumber {
    font-size: 4rem;
    margin: 2rem 0;
}

#js-question {
    font-size: 4.5rem;
}


/* 
==============================================================
=====================      CHOICES      ======================
==============================================================
*/


.containerChoices {  
    padding: 10rem 0;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem 2rem;
    grid-auto-flow: row;
    align-content: center;
    align-items: center;
    grid-template-areas:
      "choice1 choice2"
      "choice3 choice4";
} 
  
.choice1 { grid-area: choice1; }

.choice2 { grid-area: choice2; }

.choice3 { grid-area: choice3; }

.choice4 { grid-area: choice4; }

 
.choice {
    width: 100%;
    border-radius: 3px;
}

.choice p {
    padding: 0.9rem 1.1rem;
    margin: 1rem;
    font-size: 2rem;
}

.choice:hover p {
    transform: scale(1.8);
    transition: all ease-in-out .5s;
}

.choice:first-child {
    border-radius: 20px 3px 3px 20px;
}

.choice:nth-child(2) {
    border-radius: 3px 20px 20px 3px;
}

.choice:nth-child(3) {
    border-radius: 20px 3px 3px 20px;
}

.choice:nth-child(4) {
    border-radius: 3px 20px 20px 3px;
}


/* 
====================================================================
=====================      MEDIA QUERIES      ======================
====================================================================
*/

@media screen and (max-width:768px) {
    #js-questionNumber {
        font-size: 3rem;
    }

    .containerChoices {
        gap: 1rem 1rem;
    }
}

@media screen and (max-width:610px) {

    #js-questionNumber {
        font-size: 2.5rem;
        margin: 1rem;
    }
    
    #js-question {
        font-size: 3.5rem;
    }


    .containerChoices {
        display: flex;
        flex-wrap: wrap;
    }
    
    .btn {
        padding: 1.5rem 0;
    }

    .choice:first-child {
        border-radius: 20px 20px 3px 3px;
    }
    
    .choice:nth-child(2) {
        border-radius: 3px 3px 3px 3px;
    }
    
    .choice:nth-child(3) {
        border-radius: 3px 3px 3px 3px;
    }
    
    .choice:nth-child(4) {
        border-radius: 3px 3px 20px 20px;
    }
}

@media screen and (max-width:400px) {
    #js-questionNumber {
        font-size: 2rem;
        margin: 1rem;
    }
    
    #js-question {
        font-size: 3.5rem;
    }

    .containerQuiz {
        padding: 0 1rem;
    }
}

@media screen and (max-width:335px) {
    #js-questionNumber {
        margin: 1rem;
    }
    
    #js-question {
        font-size: 3rem;
    }
}

@media screen and (max-width:270px) {
    .navbar {
        flex-direction: column;
    }

    #js-questionNumber {
        margin: 1rem;
    }
    
    #js-question {
        font-size: 2rem;
    }
}